@model TopLearn.ViewModel.UserViewModels.ForgotPasswordViewModel

<div id="ForgotPasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ForgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="ForgotPasswordLabel">باز یابی کلمه عبور</h3>
    </div>
    <div class="modal-body">
        <form method="post" asp-controller="Account" asp-action="ForgotPassword">
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputEmail">ایمیل </label>
                <div class="controls">
                    <input asp-for="UserEmail" class="input-block-level" id="inputEmail" placeholder=" ایمیل">
                </div>
                <span asp-validation-for="UserEmail"></span>
            </div>

            <button type="submit" class="btn btn-primary input-block-level bold higher">
                بازیابی کلمه عبور
            </button>
        </form>
    </div>
</div>