<header id="header">
    <div class="container">
        <div class="row">

            <!--  ==========  -->
            <!--  = Logo =  -->
            <!--  ==========  -->
            <div class="span7">
                <a class="brand" href="index.html">
                    <img src="/images/logo.png" alt="Webmarket Logo" width="48" height="48" />
                    <span class="pacifico">Webmarket</span>
                    <span class="tagline"> فروشگاه  </span>
                </a>
            </div>

            <!--  ==========  -->
            <!--  = Social Icons =  -->
            <!--  ==========  -->
            <div class="span5">
                <div class="topmost-line">
                    <div class="lang-currency">

                    </div>
                </div>
                <div class="top-right">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <div class="register" id="reg_section">
                            <a href="~/User/Profile/" id="log" class="border-left ">
                                <partial name="_GetUserFristAndLastName" />
                                خوش آمدید
                            </a>
                            <a href="/Logout/" title="خروج">خروج</a>
                        </div>
                    }
                    else
                    {

                        <div class="register" id="reg_section">
                            <a href="#loginModal" id="log" class="border-left " role="button" data-toggle="modal">ورود</a>
                            <a href="#registerModal" id="reg" role="button" data-toggle="modal">ثبت نام</a>
                        </div>
                    }
                </div>
            </div> <!-- /social icons -->
        </div>
    </div>
</header>