@model TopLearn.ViewModel.UserViewModels.ForgotPasswordViewModel
@{
    ViewData["Title"] = "باز یابی کلمه عبور";
    Layout = "~/Views/Shared/_RegisterAndLoginLayout.cshtml";
}

<div class="loginView">
    @if (ViewBag.isSucsses!=null)
    {
        <br />
        <div class="alert alert-success">
            <p>ایمیل بازیابی کلمه عبور برای شما ارسال شد</p>
        </div>
        <br />
    }


    <form method="post" asp-controller="Account" asp-action="ForgotPassword">
        <div class="control-group">
            <label class="control-label hidden shown-ie8" for="inputEmail">ایمیل </label>
            <div class="controls">
                <input asp-for="UserEmail" class="input-block-level" id="inputEmail" placeholder=" ایمیل">
            </div>
            <span asp-validation-for="UserEmail" class="text-error"></span>
        </div>

        <button type="submit" class="btn btn-primary input-block-level bold higher">
            بازیابی کلمه عبور
        </button>
    </form>
</div>



@section scripts{
    <script type="text/javascript">
        $("#reg_section").remove();
    </script>
}