
@{
    ViewData["Title"] = "پایان باز یابی کلمه عبور";
    Layout = "~/Views/Shared/_RegisterAndLoginLayout.cshtml";
}


<div class="container">
    <br />
    <br />
    <div class="alert alert-success">
        <p>کاربر عزیز کلمه عبور جدید برای شما ثبت شد</p>
        <p>جهت ورود به سایت روی این <a href="/Login/">لینک</a>کلیک کنید</p>
    </div>
    <br />
    <br />
    <br />
</div>
@section scripts{
    <script type="text/javascript">
        $("#reg_section").remove();
    </script>
}

