@model TopLearn.ViewModel.UserViewModels.RestPasswordViewModel
@{
    ViewData["Title"] = "تغییر کلمه عبور";
    Layout = "~/Views/Shared/_RegisterAndLoginLayout.cshtml";
}
<div class="loginView">

    @if (Model == null)
    {
        <br />
        <div class="alert alert-danger">
            <p>این لینک قبلا استفاده شده است</p>
        </div>
        <br />

    }
    else
    {
        <form action="/ResetPassword/" method="post">
            <input type="hidden" asp-for="RestPasswordCode" />
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputEmailRegister">کلمه عبور</label>
                <div class="controls">
                    <input asp-for="UserPassword" type="password" class="input-block-level" id="UserPassword" name="UserPassword" placeholder="کلمه عبور">
                </div>
            </div>
            <div class="control-group">
                <label class="control-label hidden shown-ie8" for="inputPasswordRegister">رمز عبور</label>
                <div class="controls">
                    <input asp-for="UserConfigortionPassword" type="password" class="input-block-level" id="UserConfigortionPassword" name="UserConfigortionPassword" placeholder="تکرار کلمه عبور">
                </div>
            </div>
            <div asp-validation-summary="All" class="text-error">

            </div>
            <button type="submit" class="btn btn-danger input-block-level bold higher">
                تغییر کلمه عبور
            </button>
        </form>
    }
</div>
